/*SLATE  #434455;
NAVYBLUE  #2E2F42;
Primary Brand IRIS  #4D5AE5;
Hover #404BBF
CLOUD #F4F4FD
H1  #FFFFFF
LIGHT SLATE #8e8f99; */

* body {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;
  --light-mode: #f4f4fd;
  --white-color: #ffffff;
  --modal-background: #fcfcfc;
  --light-slate: #8e8f99;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* INDEX.HTML */

/* =================== HEADER =================== */

/* Phone styles only */

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 22px;
  }

  .menu {
    display: none;
  }

  .menu-link-border-line::after {
    display: none;
  }

  .contact {
    display: none;
  }

  .mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-open-btn-icon {
    stroke: var(--secondary-text-color);
  }
}

/* Phone styles */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.logo-dark-theme {
  color: #2e2f42;
}

/* Tablet styles */

@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 120px;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .menu-link {
    display: block;
    position: relative;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--hover-color);
  }

  .menu-link-border-line::after {
    position: absolute;
    bottom: -1px;

    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
  }

  .active-link {
    color: var(--hover-color);
  }

  .contact {
    font-style: normal;
    margin-left: auto;
  }

  .contact-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-link:hover,
  .contact-link:focus {
    color: var(--hover-color);
  }
}

@media screen and (max-width: 1157px) {
  .contact-list .contact-item + .contact-item {
    margin-top: 12px;
  }
}

/* Desktop styles */

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 0;
  }

  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* ================= MAIN ================*/

/* === Section hero === */

/* Phone styles */

.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/people-office-phone.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--secondary-text-color);

  margin-left: auto;
  margin-right: auto;
  max-width: 428px;
  padding-top: 112px;
  padding-bottom: 112px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/people-office-phone@2x.jpg);
  }
}

.hero-title {
  margin-bottom: 72px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--white-color);
}

.hero-btn,
.contact-form-submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-color);
}

/* Tablet styles */

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/people-office-tablet.jpg);
    max-width: 768px;
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero/people-office-tablet@2x.jpg);
    }
  }
}

/* Desktop styles */

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/people-office-desktop.jpg);
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero/people-office-desctop@2x.jpg);
    }
  }
}

/* === /Section hero === */

/* === Section benefits === */

/* Phone styles only */

@media screen and (max-width: 1157px) {
  .section,
  .section-benefits {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .benefits-icon {
    display: none;
  }

  .benefits-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
  }

  .benefits-desc {
    font-weight: 500;
  }
}

@media screen and (max-width: 767px) {
  .benefits-list-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .benefits-subtitle {
    text-align: center;
  }
}

/* Phone styles */

.benefits-subtitle {
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.benefits-desc {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* Tablet styles */

@media screen (min-width: 768px) {
  .benefits-subtitle {
    text-align: left;
  }
}

.section-benefits-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}

.benefits-list-item {
  width: calc((100% - 24px) / 2);
}

/* Desktop styles */

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-benefits {
    padding-top: 120px;
  }

  .section-benefits-list {
    display: flex;
    gap: 24px;
  }

  .benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits-desc {
    font-weight: 400;
  }

  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;

    background-color: var(--light-mode);
    border-radius: 4px;
  }

  .benefits-icon {
    fill: var(--secondary-text-color);
  }
}

/* === /Section benefits === */

/* === Section our-advantages === */

/* Phone styles only */

@media screen and (max-width: 1157px) {
  .our-advantages {
    display: none;
  }
}

/* Desktop styles */

.heading-section {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1158px) {
  .section-list {
    display: flex;
    gap: 24px;
  }
}

/* === /Section our-advantages === */

/* === Section cards === */

/* Phone styles */

.section-cards {
  background-color: var(--light-mode);
}

.section-cards-item {
  width: 264px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.employees-list-text {
  padding: 32px 0;
}

.subtitle {
  margin-bottom: 8px;

  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.subtitle-desc {
  margin-bottom: 8px;
  text-align: center;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.social-networks {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-networks-item {
  width: 40px;
  height: 40px;
}

.social-networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: var(--accent-color);
  color: var(--light-mode);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-link:hover,
.social-networks-link:focus {
  background-color: var(--hover-color);
}

.social-networks-icon {
  fill: currentColor;
}

/* Tablet styles */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .employees-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .section-cards-item {
    width: calc((100% - 208px) / 2);
    margin: 0;
  }
}

/* Desktop styles */

@media screen and (min-width: 1158px) {
  .employees-list {
    display: flex;
    gap: 24px;
  }

  .section-cards-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }
}

/* === / Section cards === */

/* ===  Section customers === */

/* Phone styles */

@media screen and (max-width: 1157px) {
  .company-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    row-gap: 72px;
  }

  .company-list {
    width: calc((100% - 16px) / 2);
  }
}

.company-list {
  height: 88px;
}

.company-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-list-link:hover,
.company-list-link:focus {
  color: var(--hover-color);
  outline: none;
  border-color: var(--hover-color);
}

.company-icon {
  fill: currentColor;
}

/* Tablet styles */

@media screen and (min-width: 768px) {
  .company-section {
    column-gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .company-list {
    width: calc((100% - 232px) / 3);
  }
}

/* Desktop styles */

@media screen and (min-width: 1158px) {
  .company-list {
    width: calc((100% - 120px) / 6);
  }

  .company-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* ================= / MAIN ================*/

/* ======================= FOOTER ==================== */

@media screen and (max-width: 1157px) {
  .page-footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .page-footer-container {
    margin-bottom: 72px;
  }
}

.page-footer {
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-logo {
  text-align: center;
  display: block;
  margin-bottom: 16px;
}

.logo-light-theme {
  color: #f4f4fd;
}

.slogan {
  width: 264px;
  text-align: left;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-mode);
}

.social-text {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

footer .social-networks {
  gap: 16px;
}

.footer-social-networks-icon {
  fill: currentColor;
}
footer .social-networks-link:hover,
footer .social-networks-link:focus {
  background-color: #31d0aa;
}

@media screen and (max-width: 767px) {
  .footer-form-container {
    width: 100%;
  }
}
.footer-form-input {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: transparent;
  width: 100%;
  height: 40px;
  border: 1px solid var(--white-color);
  opacity: 0.3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px 16px;
}

.footer-form-input::placeholder {
  opacity: 0.6;
  color: var(--white-color);
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 24px;
  height: 40px;
  min-width: 165px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.footer-form-icon {
  margin-left: 16px;

  fill: var(--white-color);
}

/* Tablet styles */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    column-gap: 24px;
    justify-content: flex-start;
    padding-left: 108px;
  }
}

@media screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }

  .footer-logo {
    text-align: left;
  }

  .social-text {
    text-align: left;
  }

  .footer-form-wrapper {
    margin-right: 24px;
  }

  .footer-subscribe-form {
    display: flex;
  }
}

/* Desktop styles */

@media screen and (min-width: 1158px) {
  .footer-form-container {
    margin-left: 80px;
  }
  .footer-form-input {
    opacity: 1;
  }

  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .social-media-container {
    margin-left: 120px;
  }
}

/* ======================= / FOOTER ==================== */

/* ==================  PORTFOLIO.HTML ================= */

/* Phone styles */

.filter-btn-list {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 767px) {
  .filter-btn-list {
    max-width: 268px;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 48px;
  }
}

.filter-btn {
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 8px 16px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);

  background-color: #f4f4fd;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);

  background-color: var(--hover-color);
}

.work-examples-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  margin-bottom: 48px;
  margin-top: 48px;
}

.work-examples-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-link:hover,
.work-examples-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.examples-subtitle {
  margin-bottom: 8px;
  text-align: left;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.examples-subtitle-text {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.examples-subtitle-desc {
  text-align: left;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.box-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  overflow: auto;
  transform: translateY(100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--accent-color);
  color: var(--light-mode);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-link:hover .overlay,
.work-examples-link:focus .overlay {
  transform: translateY(0%);
}

/* Tablet styles */

@media screen and (min-width: 768px) {
  .filter-btn {
    padding: 12px 24px;
  }

  .filter-btn-list {
    justify-content: center;
    margin-top: 64px;
  }

  .work-examples-list {
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 72px;
    margin-bottom: 96px;
    margin-top: 64px;
  }

  .work-examples-list-item {
    width: calc((100% - 24px) / 2);
  }
}

/* Desktop styles */

@media screen and (min-width: 1158px) {
  .filter-btn-list {
    margin-top: 100px;
  }

  .work-examples-list {
    justify-content: center;
    row-gap: 48px;
    margin-bottom: 120px;
    margin-top: 72px;
  }

  .work-examples-list-item {
    width: calc((100% - 48px) / 3);
  }
}

/* ================== / PORTFOLIO.HTML ================= */

/* ================  BACKDROP and MODAL =============== */

.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  padding: 72px 16px 16px 24px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  background-color: var(--modal-background);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--hover-color);
  border: none;
  fill: var(--white-color);
}

.contact-form-checkbox-wrapper {
  display: block;
}

.modal-form-container {
  margin-bottom: 8px;
}

.modal-contact-form-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 16px;
}

.contact-form-field {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 34px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-input:focus + .contact-form-icon {
  fill: var(--accent-color);
}

.contact-form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-wrapper {
  display: block;
  position: relative;
}

.contact-form-field-comment {
  margin-bottom: 16px;
}

.contact-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message::placeholder {
  color: var(--light-slate);
  opacity: 0.5;
}

.contact-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-checkbox {
  margin-bottom: 24px;
}

.contact-form-link {
  color: var(--accent-color);
}

.contact-form-checkbox-wrapper {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.visually-hidden {
  appearance: none;
  position: absolute;
}

.contact-form-own-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden:checked + .contact-form-checkbox-wrapper > .contact-form-own-checkbox {
  background-color: var(--hover-color);
  border: none;
  fill: var(--white-color);
  border-color: var(--hover-color);
}

/* ================ / BACKDROP and MODAL =============== */
